<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
		PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
		"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
		<!--<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->

		<context id="Mybatis3Context" targetRuntime="MyBatis3">
				<property name="javaFileEncoding" value="UTF-8" />
				<jdbcConnection driverClass="com.mysql.jdbc.Driver"
						connectionURL="jdbc:mysql://www.53.test:3306/w_simple?useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;nullCatalogMeansCurrent=true"
						userId="root"
						password="123456">
				</jdbcConnection>

				<javaTypeResolver>
						<property name="forceBigDecimals" value="false" />
				</javaTypeResolver>

				<javaModelGenerator targetPackage="model" targetProject="D:/Users/OneDrive/workspace/hui-boot/src/main/java">
						<property name="enableSubPackages" value="true" />
						<property name="trimStrings" value="true" />
				</javaModelGenerator>

				<sqlMapGenerator targetPackage="mapper" targetProject="D:/Users/OneDrive/workspace/hui-boot/src/main/resources">
						<property name="enableSubPackages" value="true" />
				</sqlMapGenerator>

				<javaClientGenerator type="XMLMAPPER" targetPackage="mapper"
						targetProject="D:/Users/OneDrive/workspace/hui-boot/src/main/java/">
						<property name="enableSubPackages" value="true" />
				</javaClientGenerator>

				<table tableName="sys_user" domainObjectName="User" enableCountByExample="false"
						enableDeleteByExample="false" enableUpdateByExample="false" enableSelectByExample="false">
				</table>

		</context>
</generatorConfiguration>