package ${package.Controller};

import cn.hutool.core.util.*;
import cn.hutool.core.lang.Assert;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.MediaType;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end

#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};

import ${cfg.packageDtoPath}.*;
import ${cfg.packageEntityPath}.*;
import ${cfg.packageVoPath}.*;
import ${cfg.packagePagePath}.*;
import ${cfg.packageResultPath}.Result;
import ${cfg.packageResultPath}.ResultGenerator;

import java.util.List;

/**
 * ${cfg.tableComment}
 *
 * @author ${author}
 */
@Api(tags = {"${cfg.tableComment}"})
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping(value = "#if(${package.ModuleName})/${package.ModuleName}#end/api/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end", produces = MediaType.APPLICATION_JSON_UTF8_VALUE)
@Validated
public class ${table.controllerName} extends ${superControllerClass} {

    @Autowired
    private ${table.serviceName} ${table.entityPath}Service;

    @ApiOperation("查询${cfg.tableComment}")
    @GetMapping("/info")
    public Result info(@RequestParam String id) {
        return ResultGenerator.getSuccessResult(${table.entityPath}Service.getById(id));
    }

    @ApiOperation("${cfg.tableComment}列表分页")
    @GetMapping("/list")
    public Result page(${entity}PageDto dto) {
        startPage();
        startOrderBy();
        List<${entity}> list = ${table.entityPath}Service.list(new LambdaQueryWrapper<${entity}>());
        return ResultGenerator.getSuccessResult(getDataTable(list));
    }

    @ApiOperation("添加${cfg.tableComment}")
    @PostMapping("/add")
    public Result add(@RequestBody @Validated ${entity}Input input) {
        ${entity} ${table.entityPath} = input.convert(${entity}.class);
        return ResultGenerator.getSuccessResult(${table.entityPath}Service.save(${table.entityPath}));
    }


    @ApiOperation("修改${cfg.tableComment}")
    @PostMapping("/edit")
    public Result edit(@RequestBody @Validated ${entity}Dto dto) {
        ${entity} ${table.entityPath} = dto.convert(${entity}.class);
        ${entity} old = ${table.entityPath}Service.getById(${table.entityPath}.getId());
        Assert.notNull(old, "要修改的数据不存在！");
        return ResultGenerator.getSuccessResult(${table.entityPath}Service.updateById(${table.entityPath}));
    }


    @ApiOperation("删除${cfg.tableComment}")
    @PostMapping("/delete")
    public Result delete(@RequestParam String id) {
        return ResultGenerator.getSuccessResult(${table.entityPath}Service.removeById(id));
    }


}
